<%- include('../components/header.ejs') %>
<%- include('../components/navbar.ejs') %>
<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"></h3> <%- viewTitle %>
                   <a href="/list" class="btn btn-primary btn-sm float-end">View Memo</a>
    </div>
    <form method="POST" action="/list/addOrEdit" >
        <div class="card-body">
            <div class="form-group">
                
                <input type="hidden" name="_id" value="<%if(typeof memo != 'undefined' && memo) { %><%-memo._id%><% } %>">
                
                <label for="exampleInputEmail1">Full Name</label>
                <input type="text" class="form-control" name="name" value="<%if(typeof memo != 'undefined' && memo) { %><%-memo.name %><% } %>" id="exampleInputEmail1" placeholder="Enter Name">
                <div class=" text-danger"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Bill No.</label>
                <input type="text" class="form-control" name="bill_no" value="<%if(typeof memo != 'undefined' && memo) { %><%-memo.bill_no%><% } %>" id="exampleInputPassword1" placeholder="Enter Bill No">
                <div class=" text-danger"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Price</label>
                <input type="text" class="form-control" name="price" value="<%if(typeof memo != 'undefined' && memo) { %><%-memo.price%><% } %>" id="exampleInputPassword1" placeholder="Enter Total Price">
                <div class=" text-danger"></div>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary"onclick="return confirm('Are you sure you want to update?');">Submit</button>
            </div>

        </div>

    </form>
</div>
    </div>
</div>
<%- include('../components/footer.ejs') %>