<%- include('../components/header.ejs') %>
<%- include('../components/navbar.ejs') %>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Employees
           <a href="list/add" class="btn btn-primary btn-sm float-end">Add Memo</a>
        </h3>
    </div>

    <div class="card-body">
        <%   if(typeof msg != "undefined" && msg) { %>
            <div class="alert alert-danger"><%=  msg  %></div>
          <% } %>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Bill No.</th>
                    <th>Price</th>
                    <th>Date Of Purchase</th>
                     <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%   if(typeof list != "undefined" && list) { %>
                 <% key=0 %>
                <%  list.forEach(function( list,keys){ %>
                    <tr>
                        <td><%= key+=1 %></td>
                        <td><%= list.name %></td>
                        <td><%= list.bill_no %></td>
                        <td><%= list.price %></td>
                        <td><%= list.dop.toDateString() %></td>
                        <td>
                            <a href="/list/add/<%= list._id %>" class="btn btn-sm btn-success">Edit</a>
                            <a href="/memo/delete/<%= list._id %>" id="delete" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>

                  <% }); %>
                  <% } %>
            </tbody>
        </table>
    </div>
    
</div>
<%- include('../components/footer.ejs') %>